body {
	background-color: #292d2d;
	color: white;
	font-family:'Montserrat', serif;
}

nav {
	font-family: 'Merriweather', cursive;
	font-weight: bold;
	font-size: 20px;
	color: blue !important;
}

#header {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#self {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 80%;
}

.container {
	margin: 0 auto;
	/*width: 100%*/
	max-width: 1200px;
}
